[user]
  name = Claudio Cancinos
  email = ccancinos@users.sourceforge.net
[push]
  default = current
[color]
  ui = true
[color "diff"]
  whitespace = red reverse
[core]
  excludesfile = ~/.config/git/.gitignore_global
  hooksPath = ~/.config/git/hooks

[includeIf "gitdir:~/Optoro/code/"]
  path = ~/.config/git/optoro/.gitconfig
